mixin table()    
    table.table_style
        tr
            td ADDRESS
            td Main Street, City.
        tr
            td E-MAIL
            td contact@domain.com
        tr
            td PHONE
            td 555-555-555
        tr
            td WEBSITE
            td www.yourweb.com
        