body {
    background-color:white;
    max-width: 2480;
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 121px;
    padding-right: 115px;
    padding-top: 190px;
    font-family: "MyriadPro";
}