@font-face {
    font-family:  "MyriadPro-LightSemiExt";
    src: url('../fonts/MyriadPro-LightSemiExt.eot');
    src: url('../fonts/MyriadPro-LightSemiExt.eot?iefix') format('eot'),
    url('../fonts/MyriadPro-LightSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiExt.ttf') format('truetype'),
    url('../fonts/MyriadPro-LightSemiExt.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:  "MyriadPro";
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?iefix') format('eot'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
    }