include ../header/header.pug
mixin skills()
    section.skills
        +header('Skills', 'skills')
        p CREATIVE
        p.icons_color.type1
        p TEAMWORK
        p.icons_color.type2
        p INNOVATE
        p.icons_color.type3
        p.COMMUNICATION
        p.icons_color.type4