extends ./lib/cv_template/cv_template.pug

block meta
    meta(name='description' content='резюме Адель Дубинниковой')
    meta(name='keywords' content ='резюме, разработчик, frontend, developer')

block title
    title Резюме Дубинниковой

block content
