extends ./blocks/template/cv_template.pug
block content
    include ./blocks/first/first.pug
    include ./blocks/profile/profile.pug
    include ./blocks/contact/contact.pug
    include ./blocks/skills/skills.pug
    include ./blocks/experience/experience.pug
    include ./blocks/education/education.pug
    include ./blocks/software/software.pug

    +first('NAME HERE','SURNAME','GRAPHIC DESIGNER')
    +profile()
    +contact()
    +skills()
    +experience()
    +education()
    +software()
