extends ./blocks/template/cv_template.pug
block vars_inside
block content
    include ./blocks/img_name/img_name.pug
    include ./blocks/profile/profile.pug
    include ./blocks/contact/contact.pug
    include ./blocks/skills/skills.pug
    include ./blocks/experience/experience.pug
    include ./blocks/education/education.pug
    include ./blocks/software/software.pug
    .left_side
        +profile()
        +contact()
        +skills()
    .right_side
        +experience
        +education
        +software
    
    
    