.software__icon {
  background-image: url('../../img/SOFTWARE_ICON.svg');
  display: inline-block;
  position: relative;
  width: 148px;
  height: 143px;
  vertical-align: middle;
  margin-right: 1.7%;
}