
.header {

}
.header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__hr {
    height: 0.5em;
    width: 50%;
    //margin: 3rem 0 0 1rem;
    background-color: #3d6cb0;
}