
.header {
  padding-top: 6.8vw;
}
.header__wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.header__hr {
    height: 0.5em;
    width: 39%;
    background-color: #3d6cb0;
}