.first__name {
  font-family: "MyriadPro-LightSemiExt";
  font-size: 8.1vw;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 6.6vw;
  padding-left: 15.9vw;
  letter-spacing: 0.2vw;
  //text-align:center;
}