$main_color: #3d6cb0;

.profile__icon {
    display: inline-block;
    // position: relative;
    width: 130px;
    height: 130px;
    background-color: $main_color;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 0 0 0 9px white,
                0 0 0 10px $main_color;
    margin-right: 30px;
    }