$main_color: #3d6cb0;

.profile__icon {
    background-image: url('PROFILE_ICON.svg');
    display: inline-block;
    position: relative;
    width: 148px;
    height: 143px;
    vertical-align: middle;
    margin-right: 1.7%;
}